<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <title>登入</title>
    <meta charset="UTF-8">
    <script src="../static/scripts/display_message.js"></script>
</head>

<body>
    <h2>請登入</h2>
    <form action="../app.py" method="post">
        <label for="username">使用者名稱:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">密碼:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="登入">
    </form>
</body>

</html>