
body{
    background-color: rgba(21, 165, 165, 0.603);
}


#title{
    text-align: center;
}

#login_button{
    text-align: center;
}


.login{
    display: flex;
    justify-content: center; /*水平置中*/
    align-items: center; /*垂直置中*/
    font-weight: bolder;
    font-size: larger;
}